body {

    margin:0px;
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/*left side column */
.lside {
  -ms-flex: 30%; /* IE10 */
  flex: 40%;
  padding: 150px 10px 1px;
  background-image: url('PUP.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*ito yung title sa left side na "User Management Module"*/
.usermodule-title{
    margin: 130px 10px 20px;
}

h1.usermodule-title{
    color: white;
    text-align: center;
    font-family: Times New Roman;
    letter-spacing: 1px;
    font-size: 35px;
}

/*right side column */
.rside { 
  -ms-flex: 70%; /* IE10 */
  flex: 30%;
  padding: 10px 30px 0px;
  float: right;
  background: white;
}

/*login form inside right side column*/
.lform {
    margin: 100px 155px 99px 155px;
    width: 330px;
    padding: 30px 25px 20px;
    background: white;
    border-radius: 15px;
    float: right;
}

/*registration form inside left side column*/
.rform {
    margin: 20px 10px 99px 6px;
    width: 620px;
    padding: 30px 25px 5px;
    background: white;
    border-radius: 15px;
    float: right;
}

/*log in title in log in page*/
h1.login-title {
    color: #666;
    margin: 0px auto 25px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    font-weight: bold;
}

/*log in text fields in log in page*/
.login-input {
    font-size: 20px;
    font-family: Times New Roman;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 18px;
    height: 55px;
    width: 275px;
}

td.left-table{
    padding-left: 0px;
    padding-right: 20px;
    border: none;
}

td.right-table{
    border: none;
}

/*log in button styles*/
.login-button {
    color: #fff;
    background: #5c1424;
    border: 0;
    outline: 0;
    width: 273px;
    height: 50px;
    font-size: 23px;
    font-family: Times New Roman;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.login-button:hover {
  background-color: #360e17;
}

/*register button styles*/
.register-button {
    color: #fff;
    background: #5c1424;
    border: 0;
    outline: 0;
    width: 570px;
    height: 50px;
    font-size: 23px;
    font-family: Times New Roman;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.register-button:hover {
  background-color: #360e17;
}

/*a href link styles*/
a:link{
  color: #666;
}

a:hover {
  text-decoration: underline;
  color: #360e17;
}

p.register{
  color: #666;  
  text-align: center;

}

