body {
    min-height: 100vh;
    margin: 0;
    background-color: #F5F7FA;
    font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel {
    margin-top: 4.3rem;
    width: 90rem;
    height: 40rem;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.course-img {
    width: 15rem;
}

.course-heading {
    color: #681a1a;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 1rem;
}

.course-type {
    width: 80rem;
}

.course {
    margin-top: 16px;
    border-bottom: 1px solid #e1f1ff;
}

.tbl {
    width: 28rem;
    height: 18.7rem;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

.headers {
    font-weight: 700;
}

td {
    border-bottom: 1px solid #e1f1ff;
    padding: 4px;
}

@media (min-width: 900px) {
    .panel {
        flex-direction: row;
    }

    .course-type {
        border-bottom: none;
        border-right: 1px solid #e1f1ff;
        padding-top: 25px;
        padding-left: 17px;
        padding-right: 17px;
    }

    .course-type:last-child {
        border-right: none;
    }
}