*{ 
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
  background-color: #681a1a;
  background-size: cover;
  height: 60px;
}

header h1 {
    font-size: 20px;
    padding: 20px;
    color: #ffe000;
}

table{
  border-collapse: collapse;
  margin-left: 4vw;
  font-size: 14px;
  min-width: 90vw;

}

th{
  text-align: left;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  padding-right: 20px;
}


center {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

center .divsearch{
  padding-left: 9%;
  margin: 10px;
}

.divsearch .search{
  margin-top: -25%;
}

.divsearch .btn-search{
  margin-top: -4px;
  margin-left: -28px;
}

input {
	width: 500px;
	height: 40px;
  margin: 7px;
  position: relative;

}

input[type=text] {
	color: #0b090a;
  border: 2px solid;
  border-color: #252422;
  border-radius: 10% 10% 10% 10% / 100% 100% 100% 100% ;
  padding: 15px 20px;
  box-sizing: border-box;
  resize: none;
  font-weight: 600;
}

form span{
  position: absolute;
  left: 30%;
  margin-top: 1px;
  padding: 0 3px;
  font-size: 10px;
  color: #252422;
  text-transform: uppercase;
  font-weight: 600;
  background: #fffcfa;
  pointer-events: none;
  
  }

button {
  width: 120px;
  height: 40px;
  background-color: #681a1a;
  border: 2px solid;
  border-color: #681a1a;
  border-radius: 40% 40% 40% 40% / 100% 100% 100% 100% ;
  color: #fffcfa;
}

.button3{
  margin-top: 10px;
  width: 110px;
  height: 30px;
  background-color: #681a1a;
  border: 2px solid;
  border-color: #681a1a;
  border-radius: 30% 30% 30% 30% / 90% 90% 90% 90% ;
  color: #fffcfa;
}


span {
  justify-content: center;
}

button:hover {
    background: #b1a7a6;
    color: #681a1a;
}

.divsearch{
    position: relative;
    align-content: center;
    padding: 50px;
    padding-top: 200px;
}


.homebutton{
  float: right ;
  margin-top: -45px;
  margin-right: 30px;
}

.homebutton a {
  text-decoration: none;
  color: #ffe000;
}

.button2, .button4 {
  width: 120px;
  height: 40px;
  background-color: #681a1a;
  border: 2px solid;
  border-color: #681a1a;
  border-radius: 40% 40% 40% 40% / 100% 100% 100% 100% ;
  color: #fffcfa;
  position: fixed;
  top: 40%;
  left: 46%;
}

.upsucc, .addsucc{
  font-weight: bold;
  color: #681a1a;
  position: fixed;
  top: 35%;
  left: 44%;
}
