* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
	font-size: 12px;
}

body {
  margin:0;
  font-family: 'Montserrat', sans-serif;
  overflow-y: hidden;
  background-image: url(../images/Keyboard.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center right;
  
}

html, body {
  height:100%;
  min-height: 100%;
}

.page-title {
  font-family: 'Montserrat', sans-serif; 
  letter-spacing: 2px; 
  font-weight: bold;
  font-size: 50px; 
  color: #681A1A;
}
  
#container {
  height: 100%;
  margin:0;
  width: 50%;
  display: flex;
  align-items:center;
  background-color:white;
}

.form-row {
	display:flex;
	flex-direction: column;
}

.form-row-date {
	display: flex;
  flex-direction: row;
}

.lbl-name {
  color: #373737;
  font-weight: 500;
}

.input-box {
  color: black;
  border-radius: 10px;
  border: 2px solid #DBDBDB; 
}

.input-box:focus {
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.asterisk {
  color: #C1121F;
  font-weight: 500;
}

.form-box-container {
	border-radius: 10px;
}

#register-btn {
  background: #681A1A;
  border: 2px solid #681a1a;
  border-radius: 10px;
  color:white;
  padding: 10px;
  font-weight: 500;
}

.selectize-input, .selectize-dropdown{
  border: 2px solid #DBDBDB !important; 
  border-radius: 10px !important;
}


