*, *::before, *::after {
	box-sizing:border-box;
}

:root {
	font-size: 12px;
}

body {
	margin:0;
	font-family: 'Montserrat', sans-serif;
}

dialog {
	border:1px solid #ccc;
	box-shadow: 0 0 2em rgba(0,0,0,0.3);
	border-radius:12px;
}

.form-row {
	display:flex;
	flex-direction: column;
	gap:5px;
}

.form-container {
	display:flex;
	flex-direction: column;
	gap:5px;
}

body {
	min-height: 100vh;
  }
  
  #myInput {
	float: right;
	background-position: 10px 10px;
	background-repeat: no-repeat;
	width: 89.7%;
	border-radius: 10px;
	font-size: 15px;
	padding: 10px 20px 12px 40px;
	border: 1px solid #ddd;
	margin-bottom: 15px;
  }
  
  #myTable {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #ddd;
	font-size: 15px;
  }
  
  .button1 {
	 float: left;
	 background-color: #4a1212;
	 border-radius: 10px;
	 width: 10%;
	 border: 1px solid black;
	 margin-bottom: 5px;
	 height: 40px;
  }
  
  .button1 {
	color: white;
	border: 1px solid #ddd;
	background-image: -webkit-linear-gradient(30deg, #681a1a 50%, transparent 50%);
	background-image: linear-gradient(30deg, #681a1a 50%, transparent 50%);
	background-size: 500px;
	background-repeat: no-repeat;
	background-position: 0%;
	-webkit-transition: background 300ms ease-in-out;
	transition: background 300ms ease-in-out;
  }
  .button1:hover {
	background-position: 100%;
	color: white;
  }
  
.form-container {
  width: 480px;
  height: 450px;
  border-radius: 10px;
	padding: 25px;
  }

.pagination {
	float: right;
	}
  
  dialog::backdrop {
	  backdrop-filter: blur(4px);
  }
  
  .has-search .form-control {
	  padding-left: 20px;
  }
  
  .has-search .form-control-feedback {
	  position: absolute;
	  z-index: 2;
	  display: block;
	  width: 2.375rem;
	  height: 2.375rem;
	  line-height: 2.375rem;
	  text-align: center;
	  pointer-events: none;
	  color: gray;
	  padding-left: 11%;
	  font-size: 20px;
	  margin-top: 0.4%;
  }
  
  .table>:not(caption)>*>* {
    padding: 2.0rem 1.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.col-lg-10 {
    flex: 0 0 auto;
    width: 100%;
}

.page-link {
    position: relative;
    display: block;
    color: #7b7a7a;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.page-link {
    padding: 0.375rem 1.75rem;
}

tbody>tr>:nth-child(1){
	font-weight: bold;
}


.rounded {
	border-radius: 0.7rem!important;
}  

.btn-primary:hover {
	color: #f9f7f4;
	background-color: #4a1212;
	border-color: #4a1212;
  }

.btn-primary {
    color: #fff;
    background-color: #681a1a;
	border-color: #681a1a;
}