*, *::before, *::after {
	box-sizing:border-box;
}

:root {
	font-size: 12px;
}

body {
	margin:0;
	overflow-y: hidden;
	font-family: 'Montserrat', sans-serif;
	background:#ffffff;
}

dialog {
	border:1px solid #ccc;
	box-shadow: 0 0 2em rgba(0,0,0,0.3);
	border-radius:12px;
}

.pop-up {
	position:absolute;
	top:40px;
	right:0;
	color:white;
	font-size:16px;
	background:green;
}

.form-row {
	display:flex;
	flex-direction: column;
	gap:5px;
}

.form-row label {
	font-size:16px !important;
}

.form-container {
	display:flex;
	flex-direction: column;
	gap:5px;
}

body {
	min-height: 100vh;
}

#myInput {
	position: relative;
	background-position: 10px 10px;
	background-repeat: no-repeat;
	width: 98.4%;
	border-radius: 10px;
	font-size: 15px;
	padding: 10px 20px 12px 40px;
	border: 1px solid #ddd;
	margin-bottom: 15px;
	float: right;
	margin-top: -50px;
	margin-right: -222px;
	height: 50px;
	color: #121212;
	font-weight: 500;
}

/*
#myTable {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #ddd;
	font-size: 15px;
	color: #5b5b5b;
}

#myTable tbody tr td:first-child {
	color:#0a1128;
	width:250px;
} */


.table {
	border: 1px solid #DBDBDB;
  	border-collapse: separate;
  	overflow: hidden;
  	border-spacing: 0px;
  	border-radius: 10px;
	color: #5B5B5B;
}

.table thead tr th {
	border-bottom: 1px solid #DBDBDB !important;
	font-size: 16px;
	font-weight: 500;
}

.table tbody td:first-child {
	font-weight: 600;
	color: #121212;
}

td {
	font-weight: 500;
}

.button1 {
	position: relative;
	background-color: #4a1212;
	border-radius: 10px;
	border: 0px solid black;
	padding: 5px 40px;
	height: 50px;
	justify-content: center;
}

.button1 {
	color: white;
	border: 1px solid #ddd;
	background-image: -webkit-linear-gradient(30deg, #681a1a 50%, transparent 50%);
	background-image: linear-gradient(30deg, #681a1a 50%, transparent 50%);
	background-size: 500px;
	background-repeat: no-repeat;
	background-position: 0%;
	font-weight: 500;
	-webkit-transition: background 300ms ease-in-out;
	transition: background 300ms ease-in-out;
}
.button1:hover {
	background-position: 100%;
	color: white;
}

.button2 {
	position: relative;
	background-color: #4a1212;
	border-radius: 10px;
	border: 1px solid black;
	padding:5px 20px;
	height: 50px;
	justify-content: center;
	text-decoration: none;
	width: 55px;
}

.button2 {
	color: white;
	border: 1px solid #ddd;
	background-image: -webkit-linear-gradient(30deg, #681a1a 50%, transparent 50%);
	background-image: linear-gradient(30deg, #681a1a 50%, transparent 50%);
	background-size: 500px;
	background-repeat: no-repeat;
	background-position: 0%;
	-webkit-transition: background 300ms ease-in-out;
	transition: background 300ms ease-in-out;
}
.button2:hover {
	background-position: 100%;
	color: white;
}

.form-container {
	width: 480px;
	height: 450px;
	border-radius: 10px;
	padding: 25px;
}

.pagination {
	float: right;
}
  
dialog::backdrop {
	backdrop-filter: blur(4px);
}

.has-search .form-control {
	padding-left: 20px;
}

.has-search .form-control-feedback {
	position: absolute;
	z-index: 2;
	display: block;
	width: 2.375rem;
	height: 2.375rem;
	line-height: 2.375rem;
	text-align: center;
	pointer-events: none;
	color: gray;
	padding-left: 11%;
	font-size: 20px;
	margin-top: 0.4%;
}

.table>:not(caption)>*>* {
	padding: 2.0rem 1.5rem;
	background-color: var(--bs-table-bg);
	border-bottom-width: 1px;
	box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.col-lg-10 {
  flex: 0 0 auto;
  width: 100%;
}

.page-link {
  position: relative;
  display: block;
  color: #7b7a7a;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.page-link {
    padding: 0.375rem 1.75rem;
}

.rounded {
	border-radius: 0.7rem!important;
}  

.btn-primary:hover {
	color: #f9f7f4;
	background-color: #4a1212;
	border-color: #4a1212;
  }

.btn-primary {
  color: #fff;
  background-color: #681a1a;
  border-color: #681a1a;
}

.input[type=search]:placeholder {
	font-family: 'Montserrat';
}

.form-input:focus {
	border:none;
	box-shadow:none;
}

.table-responsive {
	background:#fff;
}

.pagination .page-item {
	margin:0 3px;
}

.active > a {
	background:#4a1212 !important;
}

.badge {
	height: 20px;
	font-size: 10px;
	text-align: center;	
	border-radius: 5px;
}

.col-2 {
  flex: 0 0 auto;
  width: 14%;
}

.col-3 {
  flex: right auto;
  width: 10%;
  list-style: none;
}

#noCourseFoundHeading {
	font-weight: 800;
	font-size: 36px;
}

#noCourseFoundSub {
	font-weight: 500;
	font-size: 15px;
}

.asterisk {
	color:red;
}

#mtap-course, #Implementation, #number-of-days, #course-title{
  border: 2px solid lightgray; 
  border-radius: 5px; 
}

#submit-btn {
	font-size: 15px; 
	background-color: #681a1a; 
	border: 1px; 
	border-radius: 5px; 
	padding: 10px;
	padding-right: 25px;
	padding-left: 25px;
}

.gg-check-o {
  position: sticky;
	display: inline-flex;
  transform: scale(var(--ggs,1));
  width: 25px;
  height: 25px;
  border: 2px solid;
  border-radius: 50px;
	top: 20px;
}

    
.custom-shape-divider-bottom-1676706408 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    }

    .custom-shape-divider-bottom-1676706408 svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 112px;
    transform: rotateY(180deg);
    }

    .custom-shape-divider-bottom-1676706408 .shape-fill {
    fill: #681A1A;
    }