.row-box {
  display:flex; 
  flex-direction: column; 
  gap:2px;
}

.asterisk {
  color:red;
}

#mtap-course, #implementation, #number-of-days, #course-title{
  border: 2px solid lightgray; 
  border-radius: 5px; 
}

#implementation, #mtap-course {
  height: 100px;
}

#search-input{
	background-position: 10px 10px;
	background-repeat: no-repeat;
  margin-left: -38px;
	width: 100%;
  border: 2px solid lightgray;
	border-radius: 10px;
	font-size: 15px;
	padding: 2px 45px; 
}

#search-icon {
  padding: 10px;
  opacity: 50%;
}

.save-changes-btn {
  border: 2px solid #681a1a;
  background-color: #fffcfa;
  text-align: center;
  color: #681a1a;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  font-weight: bold;
}

#clear-btn {
  all: unset;
  cursor:pointer; 
  color:red;
  font-weight:bold;
}

